html {
	margin: 0;
	padding-bottom: 10%;
    padding-top: 3%;
}

body { 
    background-color: #9c9486;
    background-image: url(https://www.transparentpng.com/thumb/musical-notes/music-notes-png-images-17.png);
    background-repeat: repeat;
    background-size: 20%;
    background-attachment:fixed;

}

.mainTitle h1 {
    width: max-content;
    height: auto;
    border: 5px solid #414952 ;
    border-top: 2px solid #414952;
    border-bottom: 2px solid #414952;
    padding: 15px;
    margin: auto;
    color: #414952;
    font-size: 40px;
    text-align: center;
    background-color: #6b8393;
}

.bkgColor {
    background-color: #b1c5cb;
    background-image: url(emptyMeasure3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom 40% left 50% ;
    width:90%;
    height:auto;
    margin:4% auto;
    padding:1px;
}

.bkgColor .preamble {
    width:50%;
    height:auto;
    text-align: center;
    margin:auto;
}

.subtitle {
    width: 300px;
    height: auto;
    border-top: 3px solid #414952;
    border-bottom: 3px solid #414952;
    padding: 1px;
    margin: 3% auto;
    color: #414952;
    font-size: 20px;
    text-align: center;
    background-color: #8699a6;
}

.subtitle h2 {
    font-size: 20px;
}

.summary {
    background-color: #b1c5cb;
    width:90%;
    height:10%;
    margin:auto;
    color: #30414b;
    padding:1px 10px;
}


.subSummary {
    background-color: #b1c5cb;
    width:fit-content;
    height:fit-content;
    margin: 10px auto;
    padding: 5px;
    font-size:larger;
    border: #414952 dashed 2px;
}

.changeStyle {
    background-color: #8699a6;
    width: max-content;
    height: auto;
    font-size: larger;
    padding: 1%;
    text-align: center;
    margin:5% auto;
    border-top: 3px solid #414952;
    border-bottom: 3px solid #414952;
    color: #30414b;

 }
 