@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
root to use variables below instead of hex codes to keep colors consistent
boom mind blown what
 */
:root {
    --base-color: #f1ede7;
    --text-color: #43424f;
    --primary-color: #e6b835;
    --secondary-color: #2f9d90;
    --secondary-rgb: 47 157 144;
    --color-1: #ea9230;
    --color-2: #d43c36;
    --color-3: #0f0c3f;
    --box-shadow: rgba(0, 0, 0, 0.5);
}

/* 
*{} applies to all elemnts, removes default margins and such to keep things consistent
box sizing border box: makes sure that padding and borders don't mess up size calculations
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 html {
    font-family:"Space Mono", monospace;
    color: var(--text-color);
    /* height: 100%; */
 }
 
 body {
    display: grid;
    place-items: center;
    padding: 1em;
    background-color: var(--base-color);
 }

 /* h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 } */

  h1 {
    font-size: 2.5rem;
 }

 h2 {
    font-size: 2rem;;
}

svg {
    fill: currentColor;
}

/* *********************************************************************************************************************** */
 header {
    margin: 0 min(2em, 15%);
    width: 100%;
    background-color: var(--base-color);
    padding: 0 min(2em, 15%);
    text-align: center;
 }

 /* 
 margin: top right bottom left 
 min() means that nav bar can grow up to 1000px but never more than 100% of screen
 */
 nav {
    margin: 1em auto 1em auto;
    /* width: min(1000px, 100%); */
    width: 85%;
    /*background-color: black;*/
 }

 nav ul {
    display: flex;
    justify-content: space-between; /* << to make sure links are on edges*/
    /* centers items vertically  */
    align-items: center; 
    list-style-type: none;
    gap: 2em;
    text-align: right;
 }

 nav li:first-child {
    /*margin-right: auto;*/
    font-weight: bold;
 }

 nav a{
    /* to remove underline by default, VVV */
    text-decoration: none;
    color: var(--text-color);
 }

 /* nav a:hover, .link-text:hover{
    color:var(--base-color);
 } */

#nav-name {
    font-size:2.5rem;
    font-weight: 600;

}

#nav-sub {
    font-size:1.5rem;
    font-weight: 600;
}

.link-text {
    font-size: 1.5rem;
    font-weight: 600;
    color: inherit; /* to not override button color and so that hover change works*/
}

.nav-button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: .75em .75em;
    /*border-radius: .5em;*/
    box-shadow: 0px 4px 6px var(--box-shadow);
}

.nav-button:hover {
    /*background-color: var(--text-color);*/
    scale: 1.05;
    color:var(--base-color);

}

section {
    /* margin: min(2em, 15%) 0; <<< different */
    margin: 0 min(2em, 15%);
    width: 100%;
    background-color: var(--base-color);
    padding: min(1em, 5%);
    /* give curves to all borders, VVV */
    /*border-radius: 1em;*/
    text-align: center;
}

 .text-sections {
    padding: 2em;
 }

 /* 
 display: flex allows for arranging chart elements side by side 
 justify content is horizontal
 align items is vertical
 flex wrap allows content to stack on smaller screens
 gap adds space between image and text containers
 */
 .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
 }

 /* 
 max width means image will never overflow container
 object fit cover means to fill area without stretching, will crop image instead
 object position bottom means if cropped, keep/focus on bottom
 */
 header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
 }

 /* 
 flex: grow shrink flexBasis
 (0 = will not grow/shrink, 1 = will shink/grow if needed) 
 flex basis = preffered width
 */
 .text-container {
    flex: 0 1 34em;
    background-color: var(--primary-color);
    padding: 1.5em;
    box-shadow: 0px 4px 6px var(--box-shadow);
 }


.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
 }

section p {
    margin-top: 1em;
    font-size: 1rem;
}

/* 
display grid turns section into a CSS grid layout
grid-template-columns: define how many columns (4), for 1fr or 1 fraction of avaliable space
grid-template-rows: define how many rows (in case below, 2 for each 1 fr)
*/
.grid-container {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-2 img-3 img-3"
    ". img-4 img-4 img-5 img-5 .";
    gap: min(3em, 5%);
}

/* 
width and height at 100% to make sure full image is visible, 
transition gives it a small hover effect
*/
.grid-container img {
    height: 100%;
    width: 90%;
    /*border-radius: .5em;*/
    transition: 100ms ease;
    border: .75rem solid var(--secondary-color);
    box-shadow: 0px 4px 6px var(--box-shadow);
}

.grid-container img:hover {
    scale: 1.05;
    cursor: pointer;
}


/* ******************************************************************************************************************************************************************************** */
/* FIXME I want to change the width to have a max percentage and minimum to what it is now
    and make sure still looks good on smaller screens
*/
.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.25);
    justify-content: center;
    align-items: center;
}

.modal.open {
    /*opacity: 1;*/
    /*transform: translateY(0) scale(1);*/
    opacity: 1;
    transition: opacity 0.25s ease;
}

.modal h2 {
    background: var(--primary-color);
    padding: .2em .3em;
    margin: .4em 0;
    width: fit-content;
    text-align: left;
    box-shadow: 0px 4px 6px var(--box-shadow);
}

.modal h3 {
    padding-bottom: .5em;
}


.modal-text-style {
    background: var(--base-color);
    padding: 1em;
    margin-bottom: 1em;
    text-align: left;
    box-shadow: 0px 4px 6px var(--box-shadow);
}

.modal-text-style h3 {
    /* padding: 0 .5em .25em .5em; */
    margin: 0;
    /*background-color: red;*/
}

.modal-text-style p {
    /* padding-left: .5em; */
    margin: 0;
    /*background-color: blue;*/
}

/*had to make additional rgb secondary variable to be able to easily change opacity*/
.modal-content {
    background: rgb(var(--secondary-rgb) / 75%);
    padding: 1em;
    width: 90%;             /* Scales nicely on small viewports */
    max-width: 1200px;       /* Hard limit for large screens */
    max-height: 85vh;       /* Prevents running off the screen bottom */
    overflow-y: auto;       /* Adds an inner scrollbar if content is long */
    text-align: center;
    position: relative;
    box-shadow: 0px 4px 6px var(--box-shadow);
}

.modal-content img {
    width: 50%;
    /*FIX ME adjust image size so not too big, min and max? 
    will eventually change to embedded youtube video*/
}

.video-container {
    width: 100%;
    max-width: 600px; /* Optional */
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 0px 4px 6px var(--box-shadow);
}

/*had to finagle the padding amounts here to look good with bullets*/
#modal-refs ul {
    text-align: left;
    padding-left: 2em;
    margin: 0;
    font-size: 1rem;
    /*background-color: black;*/
}

#modal-refs a {
    color: var(--secondary-color);
    /*text-decoration: none;*/
}

#modal-refs a:hover {
    text-decoration: underline;
}

#close-btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: .5em;    
    background-color: var(--primary-color);
    padding: .75em .75em;
    border-radius: .5em;
    font-weight: 600;
    box-shadow: 0px 4px 6px var(--box-shadow);
    border: none;
    color: var(--text-color);
}

#close-btn:hover {
    /*background-color: var(--text-color);*/
    scale: 1.1;
    color: var(--base-color);
}

/* ******************************************************************************************************************************************************************************** */

footer {
    padding: 1.5em 0;
    text-align: center;
    font-size: 1rem;
}

footer a {
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover {
    text-decoration: underline;
}

/* ******************************************************************************************************************************************************************************** */
/* RESPONSIVENESS THINGS, below for tablets and smartphones (988 bc when sections shift) */
/*FIX ME: add additional max width area to change grid-container gap to 1em earlier 
(test around to get px size)*/

@media(max-width: 988px) {
    header {
        text-align: center;
    }
    header .text-container {
        padding-top: 0;
    }
}

/* ******************************************************************************************************************************************************************************** */
@media(max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        /* centers items vertically  */
        align-items: center; 
        list-style-type: none;
        gap: 1em;
        text-align: right;
    }
    
    nav li {
        display: none;
    }
    nav li:first-child,nav li:last-child {
        display: flex;
    }
    header {
        margin-top: 0;
        flex-direction:column;
    }
    .nav-button {
        /* margin-top: .5em; */
        padding: .5em;
        text-align: center;
    }
    
    
    #nav-name {
        font-size:2.5rem;
    }
    #nav-sub {
        font-size:1.5rem;
    }
    .link-text {
        font-size:1.5rem;
    }
    
    /* image grid diff responsiveness! */
    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .text-container p {
        font-size: 1rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .modal-content {
        max-width: 100%;
    }

    .grid-container img {
        width: 70%;
    }
}
/* ******************************************************************************************************************************************************************************** */
@media(max-width: 425px) {
    h2 {
        font-size: 1.5rem;
    }
    
    section p, .text-container p, #modal-refs ul {
        font-size: .7rem;
    }

    #nav-name {
        font-size:1.5rem;
        text-align: center;
    }
    
    #nav-sub {
        font-size:1rem;
        text-align: center;
    }
    
    .link-text {
        font-size: .7rem;
        text-align: center;
    }
    
    header {
        margin: 0;
    }
    
    .nav-button {
        text-align: center;
    }
    
    section {
        padding-top: 0;
    }
    
    .grid-container {
        margin-top: 0;
    }

    .grid-container img {
        width: 80%;
    }

    .modal h3 {
        font-size: 1rem;
    }

    svg {
        width: 16px;
        height: 16px;
    }

    .text-container {
        padding:.5em;
    }
    
}
/* ******************************************************************************************************************************************************************************** */
/* up to 4k screens, make nav bar buttons and text bigger*/
@media(min-width: 1500px) {
    h2 {
        font-size: 3rem;
    }
    
    p {
        font-size: 1.25em;
    }

    #nav-name {
        font-size:4.5rem;
    }
    
    #nav-sub {
        font-size:2.5rem;
    }
    
    .link-text {
        font-size: 2.5rem;
    }
    
    .nav-button {
        padding: .75em 2.75em;
    }
    
    svg {
        width: 30px;
        height: 30px;
    }
    
    .modal-content {
        padding: 2.5em;
    }
    
    .modal h3 {
        font-size: 2rem;
    }
    
    #modal-refs ul {
        font-size: 1.25em;
    }
    
    footer {
        font-size: 2rem;
    }
}