@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body { 
   background-color: rgb(241, 232, 191);
   background-image: url(coin-mario.gif);
   background-repeat: repeat-y;
   background-size: 20%;
   background-position: 98%;
}

.mainTitle {
   width:auto;
   /* height: 125px; */
   height: max-content;
   background: linear-gradient(110deg,
      #5599ea 25%, #fee370 25% 50%, #dd2b1f 50% 75%, #82af2e 75%);
   padding-top: .3%;
   padding-bottom: .3%;
   font-size: 35px;
   font-family: 'Press Start 2P', cursive;
   color:#c1862a;
   text-shadow: -4px -4px 0 #000,  4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
   
}


.bkgColor {
   width: 80%;
   height: 40%;
   background: linear-gradient(110deg,
      #6f7304 25%, #959f0a 25% 50%, #febc28 50% 75%, #d18f15 75%);
   float:left;
   margin-top: 5%;
   margin-bottom: 5%;
   font-size:30px;
   font-family:'Courier New', Courier, monospace;
}

.bkgColor .preamble p{
   background-color: #fbf376;
}

.subtitle {
   width: 80%;
   height: 40%;
   font-size: 30px;
   font-family: 'Press Start 2P', cursive;
   margin-top: 10%;
}

.summary {
   width: 80%;
   height: 40%;
   font-size:30px;
   font-family:'Courier New', Courier, monospace;
   margin-bottom: 1%;
   margin-top: 1%;
}

.summary .sum1{
   
   background: linear-gradient(110deg,
      #788fd3 25%, #62577f 25% 50%, #606c62 50% 75%, #8d7e6b 75%);
   padding-top: .5%;
   padding-bottom: .5%;
}

.summary .sum1 p{
   
   background-color: #c8cfe2;
   
}

.summary .sum2{
   background: linear-gradient(110deg,
      #6e9ca9 25%, #10c193 25% 50%, #36a613 50% 75%, #036c44 75%);
   padding-top: .5%;
   padding-bottom: .5%;
}

.summary .sum2 p{
   background-color: #c9a79e;
}

.summary .sum3{
   background: linear-gradient(110deg,
      #29282d 25%, #4c4c42 25% 50%, #fc6f06 50% 75%, #faab44 75%);
   padding-top: .5%;
   padding-bottom: .5%;
}

.summary .sum3 p{
   background-color: #8a9095
}

.subSummary {
   background-color: #c1862a;
   width: max-content;
   height: auto;
   font-size: 30px;
   font-family: 'Press Start 2P', cursive;
   padding:1%;
}

p {
   background-color: antiquewhite;
   margin: 30px;
}

.changeStyle {
   background-color: #c1862a;
   width: max-content;
   height: auto;
   font-size: 20px;
   font-family: 'Press Start 2P', cursive;
   padding: 1%;
   text-align: center;
   margin-top: 10%;
   margin-bottom: 10%;
}
